<!-- This view displays all the blog posts -->

<!-- Include Head -->
<% include header.ejs %>

<!-- Logout Button -->
<a id="logoutButton" class="link" href="/logout">logout</a>

<!-- New Post Button 
	 - anchor wraps div inorder for animation and link to work in tandem -->

	<div class="center-block width">
		<div id="new-post-button">
	  		<a href="newpost">new post</a>	
		</div>
	</div>


<!-- Entry Title and Edit Buttons -->
<% for(var i=0; i<entries.length; i++) {%>
<div class="post center-block">
		<div class="title-row t-wrapper">
			<!-- Post Title -->
			<h1 class="post-title"><%= entries[i].title %></h1>
			<!-- Edit Buttons -->
			<div id="editbuttons" class="t-cell" role="group" >
			  <button type="button" class="edit">edit</button>
			  <button onclick="deleteEntry('<%= entries[i]._id %>')" type="button" id="<%= entries[i]._id %>" class="delete">delete</button>
			</div>
		</div>		
	<!-- Entry Content -->
		<div class="post-content">
			   <%- entries[i].content %>
		</div>
</div>
<!-- White Divider after all but last post -->
<% if (i <entries.length-1){%>
	<div class="post-divider"></div>
<% } %>
<% } %>

<!-- Include Footer -->
<% include footer.ejs %>


