<!doctype html>
<html>

<head>
    <title>Node Blog</title>

    <!-- Reset -->
    <link rel="stylesheet" href="stylesheets/reset.css">
    
    <link rel="stylesheet" href="stylesheets/style.css">
    <!-- Fonts -->
    <link rel="stylesheet" href="fonts/typography.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->

    <!-- ckeditor -->
    <script src="ckeditor/ckeditor.js"></script>

</head>

<body>
    <div>
        <h1 class="page-title center-block"><%= title %></h1>
    </div>
